[2021-05-24 10:25] sandhiyakavi opened #1 "Taas Admin app: feature"
Description:

Taas Admin app api challenge: https://www.topcoder.com/challenges/acb9d8ea-6960-4016-a844-9970bc9c58f5
TaaS Admin App - Basic Work Periods: https://www.topcoder.com/challenges/256744b5-db4f-471d-807b-51c681486ca8
Design: https://marvelapp.com/prototype/g6g2jh7/screen/78212448

[2021-06-01 10:00] maxceem commented on #1
This is ready for QA on DEV.

Know issues:
- filtering by Payment Status is hidden, because API doesn't support filtering by multiple paymentStatus yet. Instead of it we added filtering by user handle, so we can test filtering in general
- sorting by Working Days doesn't work correctly for now, I'm thinking about solutions

[2021-06-01 10:26] sandhiyakavi opened #6 "[$30] Better wordings for showing Permission restrictions"
Description:

Users other than BookingManager/Admin if they try to access the Taas Admin app. Now the text "Error: You don't have access to view memberRate" is displayed.

![image](https://user-images.githubusercontent.com/55895538/120307939-83047d00-c30e-11eb-9a75-ec42f5d786f3.png)

Instead of that can we have other text like "You don't have permission to access this page" or hide the "TAAS admin

[2021-06-01 10:46] nkumar-topcoder commented on #6
@sandhiyakavi for user other than BM/admin role - plan is -  not show `taas-admin` icon. This will be implemented.
cc @maxceem

[2021-06-01 11:05] sandhiyakavi opened #7 "[$5] Member rate displayed as Integer in UI instead of floating point number."
Description:

Weekly rate (Member rate) is displayed as Integer in UI instead of floating point number.

![image](https://user-images.githubusercontent.com/55895538/120313152-94508800-c314-11eb-92cd-d29fac0b3477.png)
![image](https://user-images.githubusercontent.com/55895538/120313218-a6322b00-c314-11eb-9a79-9aef7d4a4edb.png)

[2021-06-01 11:41] sandhiyakavi opened #8 "Sorting by Topcoder handle is not working correctly."
Description:
Sorting by Topcoder handle is not working correctly.

![image (1)](https://user-images.githubusercontent.com/55895538/120317550-b993c500-c319-11eb-9737-d2cbd2b73204.png)

[2021-06-01 11:47] sandhiyakavi opened #9 "Directing to first page if sorting applied to table contents in pages other than first page"
Description:

User is getting directing to first page if sorting applied to table contents in pages other than first page.

https://user-images.githubusercontent.com/55895538/120318143-77b74e80-c31a-11eb-8c01-8afe58c80765.mp4

[2021-06-01 12:45] nkumar-topcoder commented on #8
@sandhiyakavi please check - we have fixed and re-indexed

[2021-06-01 12:55] maxceem commented on #9
I think this is expected behavior.

If a user changes sort order he would sort the data for the whole table, so data on the 2nd page would be completely changed. So it makes sense to start from the first page if the sorting order is changed.

[2021-06-02 02:54] sandhiyakavi commented on #9
Closing the issue as its expected.

[2021-06-02 02:54] #9 closed

[2021-06-02 02:58] sandhiyakavi commented on #8
Verified on Dev Env. Sorting correctly now

![image](https://user-images.githubusercontent.com/55895538/120417475-d8d23700-c399-11eb-977a-4ba9464e4384.png)

[2021-06-02 03:46] sandhiyakavi opened #10 "Workperiods for RB with status 'cancelled' are displaying in the Admin app"
Description:

1. Now workperiods for RB with status 'cancelled' are displaying in the Admin app. If so, then it is possible for the Admin to process payment for the resources who are cancelled. Can we put some restriction to prevent cancelled RB's data showing up in Admin app?

![image](https://user-images.githubusercontent.com/55895538/120420175-cf979900-c39e-11eb-9fc1-db53b9b4f19f.png)

![image]

[2021-06-02 05:28] sandhiyakavi opened #11 "Filter by Topcoder Handle issues"
Description:

1. Filter by Topcoder Handle is case sensitive, it is displaying records from RB table but not displaying records from WorkPeriod table.

<img width="960" alt="case_sensitive_1" src="https://user-images.githubusercontent.com/55895538/120427768-800c9980-c3ad-11eb-8d49-bd3701d69641.png">
<img width="948" alt="case_sensitive_2" src="https://user-images.githubusercontent.com/55895538/120

[2021-06-02 05:36] sandhiyakavi opened #12 "Records/Page filter is not getting cleared on applying 'Clear Filter' button"
Description:
Records/Page filter is not getting cleared on applying 'Clear Filter' button

https://user-images.githubusercontent.com/55895538/120429139-dda1e580-c3af-11eb-9812-f3c6a0adee8a.mp4

[2021-06-02 07:05] maxceem commented on #12
I think it's expected behavior. Sorting also stays.

We have to only go to the first page when we clear filter because the results are changed. The same way we have to reset page to 1 when we change the sort order, but we don't have to reset per page.

[2021-06-02 07:07] sandhiyakavi opened #13 "Clicking Topcoder handle displays blank page if RB status is not 'placed'"
Description:
Clicking Topcoder handle displays blank page if RB status is 'closed'/'cancelled'  (other than 'placed') since only RB with status 'placed' is viewable in Taas app.

Can we display message like 'Closed/Cancelled ResourceBookings cannot be viewed' ?

![image](https://user-images.githubusercontent.com/55895538/120438485-67f04680-c3bc-11eb-9130-30cc239e7fa9.png)

[2021-06-02 07:32] #12 closed

[2021-06-02 10:09] maxceem commented on #13
@sandhiyakavi as this is issue in TaaS App, can we move it to the TaaS App.

And regarding this link, in Admin App, I guess instead of pointing it to Resource Booking, we can point it to the member page, which exists for any use, what do you think?

[2021-06-02 10:14] maxceem commented on #8
Closing as it was only on DEV.

[2021-06-02 10:14] #8 closed

[2021-06-02 10:27] maxceem commented on #6
Summary:
- To avoid such issues, we should check user permissions to see the page before making any API request.
- To support such a feature in a general way we can update `withAuthentication` HOC, so it support the second argument `roles` where we should pass user roles who can access this page. If auth user don't have such roles, we should show error.

Example:
  - For a page with Work Periods [

[2021-06-02 10:29] maxceem commented on #6
@MadOPcode would you like to handle it as a private task? The prize is mentioned in the issue description - $30.

Working branch: `dev`
Submission: PR

[2021-06-02 10:31] maxceem commented on #7
Sum up:
- We have to display Member Rate with 2 digits after the point, like `1,200.00`, `11.23` and so on.

[2021-06-02 10:31] maxceem commented on #7
@MadOPcode would you like to handle it as a private task? Prize $5.

[2021-06-02 11:29] sandhiyakavi commented on #13
@maxceem Yes, We can point it to the member page

Also there is no way to access this page in Taas app, until we hit directly through url. Do we need to make it as an issue in Taas app?

[2021-06-02 12:11] MadOPcode commented on #6
@maxceem yes I'm ready to make a PR.

[2021-06-02 12:12] MadOPcode commented on #7
@maxceem yes I'm ready to make a PR.

[2021-06-02 12:14] maxceem commented on #6
ok, please, make PR when it's ready

[2021-06-02 12:22] MadOPcode commented on #6
@maxceem although I have a question first. The HOC component withAuthentication either displays or hides the whole page including the sidebar with navigation menu. So if the user doesn't have required role(s) the navigation menu will not be on the page. Should the sidebar with navigation menu still be visible if the user does not have required role(s)?

[2021-06-02 12:32] maxceem commented on #6
That's a good question. Let's keep it simple for now - the whole page would be hidden with sidebar, if wee need to keep sidebar visible in the future we would think for another solution.

[2021-06-03 06:50] maxceem opened #16 "[$10] Fix Prop Types Warnings"
Fix all the Prop Type warnings shown in browser console.

![image](https://user-images.githubusercontent.com/146016/120600149-1a71e900-c451-11eb-99bf-12ce33ec41f3.png)
![image](https://user-images.githubusercontent.com/146016/120600177-2198f700-c451-11eb-9c67-ad419ede4156.png)
![image](https://user-images.githubusercontent.com/146016/120600190-26f64180-c451-11eb-9e3d-c4abaef1ca4c.png)

[2021-06-03 06:51] maxceem commented on #16
@MadOPcode one more small issue is ready to pick up if you like.

[2021-06-03 06:52] maxceem commented on #11
@sandhiyakavi this is fixed and ready for QA.

[2021-06-03 07:16] sandhiyakavi commented on #1
Verified on Dev Env.

https://docs.google.com/spreadsheets/d/1-hLN9isB0aL0kOPTEzQDPpdh8pfZDNqm4iw9FAt29og/edit#gid=1421947240

[2021-06-03 07:31] sandhiyakavi commented on #11
Verified on Dev Env. Records are getting displayed irrespective of the letter case.

![image](https://user-images.githubusercontent.com/55895538/120605149-b3702680-c488-11eb-8c19-7937d8b30dae.png)

[2021-06-03 07:56] sandhiyakavi opened #17 "Nice to have: Weekly rate show as $0 instead of hyphen if not present"
Description:

It woult be nice to show Weekly rate as $0 instead of hyphen if not present.

![image](https://user-images.githubusercontent.com/55895538/120608856-9b020b00-c48c-11eb-80c2-0503720df65e.png)

[2021-06-03 08:58] maxceem commented on #17
@sandhiyakavi IMHO it would be better to keep it `-`.
- `-` means no member rate is set
- `0` means member rate is set to `0` theoretically we could you use it for something.

But I could be wrong. I suggest to leave it as it is for now, and wait for the feedback from admins if they prefer the other way.

[2021-06-03 09:22] #17 closed

[2021-06-03 09:32] sandhiyakavi commented on #6
Verified on Dev Env.

![image](https://user-images.githubusercontent.com/55895538/120621954-59c42800-c499-11eb-9ddd-bda7e50ee4b6.png)

[2021-06-03 09:43] sandhiyakavi commented on #7
Verified on Dev Env.

![image](https://user-images.githubusercontent.com/55895538/120623410-ab20e700-c49a-11eb-9bef-763445b01f9a.png)

[2021-06-03 10:53] MadOPcode commented on #16
@maxceem created a PR (but it looks like it is already mentioned in this thread).

[2021-06-04 06:29] maxceem commented on #10
This is fixed now, and only `placed` Resource Bookings are shown in this table.

[2021-06-04 06:31] maxceem commented on #13
We have a way to access this page for in TaaS API for placed RB from here https://platform.topcoder-dev.com/taas/myteams/17717

I've fixed Admin App to show only `placed` Resource Bookings so this issue should never happen again when we click users from Admin App.

[2021-06-04 10:00] sandhiyakavi commented on #10
Verified on Dev Env.

![image](https://user-images.githubusercontent.com/55895538/120782770-4e3e3300-c565-11eb-9eaa-a2737b4d00f4.png)

[2021-06-04 10:03] sandhiyakavi commented on #13
Issue resolved through https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/10

[2021-06-04 11:05] MadOPcode commented on #16
@maxceem is there something that I've missed? Why is this issue re-opened?

[2021-06-04 11:25] maxceem commented on #16
No, all good, I opened it to track the issues where I have to process payments.
It was closed automatically because the Pull Request https://github.com/topcoder-platform/micro-frontends-taas-admin-app/pull/18 has text `Fixes #16` which triggered automatic issue closing. Usually I close issues manually after they pass QA and payment is processed.

[2021-06-16 12:08] maxceem commented on #16
This is just code quality issue, and cannot be QAed, so closing.

[2021-06-16 12:08] #16 closed

[2021-06-16 12:11] maxceem opened #25 "[$30] When update "Working Days" we have to update other Work Period values in the table"
When we update  the value inside `Working Days` we send request to the server to update. When this value is updated it could happen that other values of the Work Period would be updated automatically.

So when Work Period working days is updated we have to update all other fields using response from the server.

For example, when we update Working Days to `0`, then `pyamentStatus` would be updated

[2021-06-16 12:15] maxceem opened #26 "[$10] We should not be able to set "Working Days" value less then "daysPaid""
When we update the value inside the "Working days" field, at the moment the minimal value is 0. Though we added one more field to the Work Periods `daysPaid`. We should not be able to set value in the "Working Days" less then "daysPaid".

Don't forget to list this field in the `fields` to get it form the server.

[2021-06-16 12:22] maxceem opened #27 "[$25] Add "Total Paid" column"
Add one more column named "Total Paid" on the right of the "Weekly Rate" Column.

This column should show the value in the next shape: `{formatDollar(WorkPeriod.paymentTotal}} ({WorkPeriod.daysPaid})`

Examples:
- `$0 (0)` - means $0 dollars paid for 0 days
- `$1000.00 (1)` - means $1000 dollars paid for 1 day
- `$500.00 (5)` means $500 dollars paid for 5 days

Make the `(X)` gray color, so we are

[2021-06-16 12:33] maxceem opened #28 "When we see the history of the Work Periods for the Resource Bookings we have to paginate"
The history of Work Periods for the Resource Bookings may have a lot of Work Periods

![image](https://user-images.githubusercontent.com/146016/122219377-0d74e100-ceb8-11eb-8928-0c1736ae8d1d.png)

At the moment we request `10000` Work Periods for the Resource Booking, but it would be better if request less Work Periods and paginate or lazy load in some way.

[2021-06-16 12:43] maxceem opened #29 "[$50] Improve User Handle autocomplete"
![image](https://user-images.githubusercontent.com/146016/122220740-4a8da300-ceb9-11eb-9d3a-51b6818c68bf.png)

Instead of this when we press `Enter` we would like the current value to be applied and suggestion list closed.
To select any value form the suggestion we should press `Down Key` to move to the list.

Can we achieve this? Or is there any other way to handle this nicely. The main aim if we

[2021-06-17 09:35] maxceem opened #30 "[$60] Reflect in URL all the filters, selected dates, page and perPage"
At the moment we can apply various filters, select dates, choose perPage and select page. But if after that we reload the page, all our selected filters, page and so on reset.

We all of them to be reflected in the URL as query params like
[code]

- If we load page by this URL directly all the filters, page and so on should be set as per URL
- Back/Forward browser buttons should work correctly, so

[2021-06-17 10:26] maxceem opened #34 "[$80] Show error details"
### Background

When we process payments, some of them might fail. We would like to be able to see the error details of why the payment failed and easily find failed payments.

### Payment List Popup

Show payment list not only inside the history/details, but also in the main table. For this purpose we updated API so now it can return payments inside the main list. So now we can ask to return paym

[2021-06-17 10:27] maxceem opened #35 "[$40] Extend Payments Popover"
At the moment Payments Popover only shows Challenge id with copy and new tab buttons:

![image](https://user-images.githubusercontent.com/146016/122371860-e0ccd200-cf68-11eb-8d9b-e6d6dde6c98c.png)

We want to update it to show the table with the next columns:

- "Challenge ID" - show what we show now: challenge id link with two icons (keep it short like now) and add `...` when cut it.
- "Weekly Ra

[2021-06-17 11:01] maxceem commented on #25
This works perfectly https://monosnap.com/file/vbFKeWaR07Hl189mXGfCqmqpA2hxbb

[2021-06-17 11:07] maxceem opened #36 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, and the system will change the label to "tcx_Assigned", removing the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here

[2021-06-17 11:19] maxceem opened #37 "[$50] We should not allow increasing Working Days more than fit Resource Booking"
![image](https://user-images.githubusercontent.com/146016/122386305-702cb200-cf76-11eb-8418-1588305dbad6.png)

To implement this we have to create a reusable method which would return maximum allowed `daysWorked` for the WorkPeriod inside Resource Booking.

- The logic how we calculate `daysWorked` is described here https://github.com/topcoder-platform/taas-apis/wiki/Work-Periods-(WP)-Automation-a

[2021-06-17 11:29] maxceem commented on #26
Implemented and works good.

[2021-06-17 11:29] maxceem commented on #27
Added and works good.

[2021-06-17 11:31] maxceem commented on #29
This issue looks like not easy to implement as I've got the next response:

[2021-06-18 06:45] #36 closed

[2021-06-18 08:12] nkumar-topcoder opened #38 "[$175] Provide Job Title and ProjectId info for teamname"
Additional Info during payment shall help end user  to which `project id` and to which  `Job Title` the `Topcoder handle` belongs to.

Hence

- When `user` moves mouse over `Topcoder  handle` then provide  Tool Tip `Job title`
- Same way when `user` moves mouse over `Team Name` then provide  Tool Tip `Project id`

![image](https://user-images.githubusercontent.com/33625707/122528405-eb0ad100-d039-

[2021-06-18 09:04] maxceem opened #39 "[$80] Reload data after the payment is processed"
At the moment after we process the payment we don't update the data loaded in the table in any way. Though after payment processing it is expected that the statuses of all the payments would be updated to `scheduled`.

If we just reload the data for the page after payments processing the data returned by the server might be still outdated because such updates take place not immediately.

So I sugg

[2021-06-18 09:17] maxceem commented on #39
@MadOPcode please, hold a bit working on this issue, I'm going to make some improvements to this task.

[2021-06-19 05:59] maxceem commented on #29
@MadOPcode works almost like needed, but found a few issues:

1. [critical] If enter some word that doesn't have suggestions, then I cannot search by it by pressing Enter, for example, enter `mt`:

    ![image](https://user-images.githubusercontent.com/146016/122632401-4345df80-d0db-11eb-836d-52eba4dd64dd.png)

    - Creatable feature of react-select could solve it https://react-select.com/creatab

[2021-06-19 06:17] maxceem commented on #25
paid via https://www.topcoder.com/challenges/5a70a6de-8189-48d5-a5d7-524852068ae5

[2021-06-19 06:17] maxceem commented on #26
paid via https://www.topcoder.com/challenges/9314936a-a802-4eb8-b654-bf61be619582

[2021-06-19 06:17] maxceem commented on #27
paid via https://www.topcoder.com/challenges/9314936a-a802-4eb8-b654-bf61be619582

[2021-06-19 06:17] maxceem commented on #30
works good

paid via https://www.topcoder.com/challenges/532cfb8a-2ea5-4310-82b1-62554c31ae4f

[2021-06-19 06:18] maxceem commented on #35
works good

paid via https://www.topcoder.com/challenges/cac94a1e-2aea-471b-95c2-dba2ba3c20cc

[2021-06-19 07:20] MadOPcode commented on #29
For words less than 3 characters the request to the server simly is not sent and the suggestions are always empty. I tried to prevent some server requests this way. Also if I enter "mt" I see no suggestions (as expected) and then if I press Enter the value gets selected fine so I cannot reproduce the bug. Just in case my latest commit is b2f5333d...

[2021-06-19 08:24] MadOPcode commented on #29
Created a PR #41.

[2021-06-19 09:47] maxceem commented on #29
Paid via https://www.topcoder.com/challenges/e118f945-1ae1-4bf2-99e2-70fd9735cb75

[2021-06-19 09:49] maxceem commented on #39
The biggest issue with implementing this issue is that if we have some filter by `pyamentStatus` applied, and we would like to reload data for the current page, some rows may disappear due to changed status so it's hard to get updated status for all the items on the page with one request and making individual requests for each item feel heavy.

[2021-06-22 08:39] sandhiyakavi opened #45 "[$5] UI issue: Page extends past edge of screen"
Description:

The Taas Admin app page extends past edge of screen where as the micro-frontends top navigation bar is not.It creates a blank space there.

![image](https://user-images.githubusercontent.com/55895538/122892765-a4421180-d380-11eb-8e18-610a1d105d51.png)

[2021-06-22 12:14] maxceem commented on #45
This issue is due to small screen size. The table is quite big and we don't have a good UI design on how to adapt it for smaller screens. We could think about it.

[2021-06-23 05:50] sandhiyakavi opened #46 "[$5] Messages for single resource are in plural form."
Description:

The messages displayed in Taas Admin app are all in plural form. Can we display the Message like below? so that it would be common for both singular as well as plural content.

sample: "Payment in progress for 1 resource(s)"

<img width="959" alt="plural_problemn" src="https://user-images.githubusercontent.com/55895538/123042681-24747f80-d432-11eb-9060-9fb9b2057199.png">

[2021-06-23 11:46] sandhiyakavi opened #47 "Inconsistency between WP.paymentStatus and WPP.status display for bulk payments"
Description:

I am able to view in some cases WP.paymentStatus getting updated to 'completed' even before the WPP.status is changed to 'completed' (still in 'in-progress') status while performing bulk payments.

<img width="957" alt="status_completed_before_inside_changed" src="https://user-images.githubusercontent.com/55895538/123091101-e85a1280-d463-11eb-814e-3e7b1238d105.png">

[2021-06-23 13:06] maxceem commented on #47
@sandhiyakavi This is fixed now together with https://github.com/topcoder-platform/taas-apis/issues/213.

It was issue in TaaS Api. It should be fixed for existent and for new payments.

[2021-06-24 07:19] sandhiyakavi commented on #47
@maxceem I verified this issue. I am still able to view WPP.status getting updated before WP.paymentstatus and hence sometimes it's like it is providing us wrong status.
Note: If we refresh again it is also updated and showing correct status. The problem here is since we need to refresh each time to know the updated status and WPP.status sometimes updating before WP.paymentstatus

<img width="959"

[2021-06-24 08:16] sandhiyakavi commented on #26
Verified on Dev Env. Not able to set value less than daysPaid.

![image](https://user-images.githubusercontent.com/55895538/123227834-ed749b80-d50f-11eb-8e72-00f9f217958a.png)

[2021-06-24 08:46] sandhiyakavi commented on #27
Verified on Dev Env.

![image](https://user-images.githubusercontent.com/55895538/123231740-7214e900-d513-11eb-8efc-5cc273f0ab59.png)

![image](https://user-images.githubusercontent.com/55895538/123231640-59a4ce80-d513-11eb-922c-35f3f3884ef1.png)

[2021-06-24 09:11] sandhiyakavi commented on #29
@maxceem At the moment, I am not getting suggestion for any text I entered. It is getting loaded and displaying 'No Suggestions'. Is it expected?

![image](https://user-images.githubusercontent.com/55895538/123236102-76db9c00-d517-11eb-9549-1eb0f7162dcd.png)

[2021-06-24 09:17] sandhiyakavi commented on #35
Verified on Dev Env.

![image](https://user-images.githubusercontent.com/55895538/123237219-6d9eff00-d518-11eb-81da-03341484687b.png)

[2021-06-24 09:21] maxceem commented on #29
@sandhiyakavi I guess your user doesn't have permissions to get suggestions from the Member Service. I don't remember exact roles which has permissions, though admins for sure have it.

[2021-06-24 09:25] maxceem commented on #47
@sandhiyakavi unfortunatelly it's not that easy to fix this issue at the moment. There indeed could be deplay between statuses update and `paymentStatus` might get updated first before the status of corresponding payment.

The internal reason for this is caused by the fact that we send Kafka events to ES Processor, but order of which these events would be processed is not guaranteed for different

[2021-06-24 09:27] sandhiyakavi commented on #25
Verified on Dev Env. PaymentStatus is changing according to the change in WorkingDays

![image](https://user-images.githubusercontent.com/55895538/123238751-b4d9bf80-d519-11eb-9d6a-ea8e007c6c68.png)
![image](https://user-images.githubusercontent.com/55895538/123238814-c4590880-d519-11eb-94c7-ba7fb76c1de2.png)

[2021-06-24 09:40] sandhiyakavi commented on #30
Verified on Dev Env. URL is reflecting all the filters and selections applied.

https://platform.topcoder-dev.com/taas-admin/work-periods?startDate=2021-06-20&status=completed&user=sachintop876&by=payment_total&order=desc&perPage=50&page=1
https://platform.topcoder-dev.com/taas-admin/work-periods?startDate=2021-06-20&status=completed,partially_completed,in_progress,no_days,pending&onlyFailed=y&by=

[2021-06-24 09:53] sandhiyakavi commented on #34
Verified on Dev Env.

![image](https://user-images.githubusercontent.com/55895538/123242672-3c74fd80-d51d-11eb-90fc-08ed192d4e9c.png)
![image](https://user-images.githubusercontent.com/55895538/123242731-4991ec80-d51d-11eb-8a7d-4a7c8ed4d14f.png)
![image](https://user-images.githubusercontent.com/55895538/123242779-56164500-d51d-11eb-9930-2ee17360cc64.png)

![image](https://user-images.githubuserco

[2021-06-24 11:54] sandhiyakavi opened #48 "[$30] Nice to have: Failure message with the reason for failure."
Description:

Currently if there was a failure in scheduling the payment, we are getting the error message "Failed to schedule payments for (n) resources" for all below reason,
1. If member Rate is 0 or null
2. If the RB.billingaccount is null.
3. If status='no days'

It will be nice if there is a reason added for the failure as it would be easier to find the reason

![image](https://user-images.g

[2021-06-25 03:50] sandhiyakavi commented on #29
@maxceem I am using Booking Manager user. Wasn't it supposed to have all privileges of Admin regarding Taas app.

[2021-06-25 03:53] sandhiyakavi opened #49 "The project Id is displayed under Team Name column for some resources"
Description:

Under the Team Name column, I am able to see projectID displaying instead of Team name for some resources.

![image](https://user-images.githubusercontent.com/55895538/123367035-40079380-d5b4-11eb-9403-5939f1fce5a3.png)

[2021-06-25 07:01] sandhiyakavi opened #50 "[$30] Nice to have: Changes for Working Days field"
Description:

1. Currently if we change the daysWorked for a resource, there is no way to ensure it's changed except refreshing. can we add a green colour blink or some checkmark near the field to denote it is updated to the server?

![image](https://user-images.githubusercontent.com/55895538/123383171-d2686100-d5cd-11eb-8b94-ceec811e30dc.png)

2. Also is it possible to add some form of warning fo

[2021-06-25 07:37] sandhiyakavi opened #51 "Booking Manager role permission issues"
Description:

Booking Manager has some minor permission issues in Taas Admin app.

1. The suggestions are not getting listed for the Search by Topcoder handle.

![image](https://user-images.githubusercontent.com/55895538/123388289-93d5a500-d5d3-11eb-9b95-d9770e693856.png)

2. The Billing Account of the Resource if not set is displayed as "<Error loading accounts>" and if already assigned, it's get

[2021-06-25 08:01] sandhiyakavi commented on #29
Verified on dev Env.

1.  When Enter pressed, the currently typed value is searched and suggestions are getting closed.
2. Able to choose the suggestions by down arrow button.
3. Able to search by word that doesn't have suggestions.
4. Able to search if entered some text and unfocus it.
![image](https://user-images.githubusercontent.com/55895538/123390835-56264b80-d5d6-11eb-89da-55c157985b4b.png)

[2021-06-25 10:00] sandhiyakavi opened #52 "Getting "No token provided" error if the page is not used for a certain period of time."
Description:

Getting "No token provided" error if the page is not used for a certain period of time. It also seems to happen if another tab is also opened in the same window. Token is not getting refreshed.

![image](https://user-images.githubusercontent.com/55895538/123407798-52e78b80-d5e7-11eb-8599-f598f3ca9e4e.png)

Note: It's getting logged in and working normally once the page is refreshed.

[2021-06-28 08:48] sandhiyakavi opened #53 "[$10] Able to process payment more than once if the process payment button is pressed continuously more than once."
Description:

If we click the process payment button immediately again after clicking the first time, able to schedule the payment more than once. As a result we are able to pay more than the  daysWorked.

sample: https://platform.topcoder-dev.com/taas-admin/work-periods?startDate=2023-07-30&by=user_handle&order=asc&perPage=50&page=1

Steps to Reproduce:
1. Select the Resources that needs to proce

[2021-06-28 10:49] sandhiyakavi opened #54 "[$50] Nice to have: userhandle near WP id for the Warning messages displayed during multiple payment process"
Description:

Currently for mentioning the error only WP id of the Resource is mentioned in the warning messages of multiple payment process. It would be nice to have Userhandle near the WP id for easy identifying of the particular resource.

Steps to Reproduce:
1. Make the member rate zero for a resouce.
2. Remove the BA of another resource.
3. Make daysworked as 0 for another resouce.
4. Choose

[2021-06-30 07:07] maxceem commented on #45
Sum up:
- When we shrink the browser window and there is no not enough horizontal space of the table. The horizontal scroll should appear only for table:

   ![image](https://user-images.githubusercontent.com/146016/123917005-f8558300-d98a-11eb-81d4-c9a785b0f0f1.png)

[2021-06-30 07:20] maxceem commented on #38
Sum up:
- Implement a reusable `Tooltip` component using the library `react-popper` which we already use for other popovers (don't add a new library).
- We should be able to use this library whenever we want to show Tooltips like:
[code]
    - When we hover `<Anything></Anything>` with mouse show a tooltip with the `<WhatToShowInsideTooltip />` inside.
- Tooltip should have the same design as popo

[2021-06-30 09:10] maxceem commented on #46
Sum up:
- Copy/paste the helper method [formatPlural](https://github.com/topcoder-platform/taas-app/blob/dev/src/utils/format.js#L20-L29) to this repository.
- Apply it in the messages:
   - when process 1 or several payments on one page
   - when process payments for ALL records

[2021-06-30 09:18] maxceem commented on #48
Sum up:
- I suggest another approach, instead of showing error after attempt of processing the payment we should disable the checkboxes if we cannot process the payment for a known reason.
  - disable checkboxes for the rows for which we cannot process a payment because of one of the reasons shown below
  - when we put mouse on a disabled checkbox show the Tooltip with the message describing the r

[2021-06-30 09:24] maxceem commented on #49
@sandhiyakavi I cannot reproduce this issue. Do you know any steps on how to reproduce it? If you could reproduce it again, could you please check the DevTool console log and see what error do you see there.

PS. I suspect that it was some temporary issue with Projects API.

[2021-06-30 09:29] maxceem commented on #50
@sandhiyakavi I think if we add some message for the first and last WPs it would be not enough. Because if we change RB dates for example in half, then half of the WPs would be removed and WP which would be the new last/first one, would be also updated, even though, before it was in the middle.

So far I don't see a good solution for such edge cases. I think what we can do, is log this issue separ

[2021-06-30 09:48] maxceem commented on #50
Sum up:

- For now we would only implement the first part of this issue.
- When we change Working Days, we send the API request to the server. If request failed, we already show the error toastr.
   - if the request is successful we have to indicate it by showing the green checkmar in the green circle with some animation, for example this one https://codepen.io/kuvinod5/pen/WNvzazr
   - but use ou

[2021-06-30 09:57] maxceem commented on #51
@sandhiyakavi unfortunatelly we cannot fix these issue on the TaaS side, because both of them happens due to 3rd party API which doesn't allow Booking Managers some operations.

1. We use endpoint `GET /v3/members/_suggest/` to get member suggestions. This endpoint doesn't return suggestions to Booking Manager users. That's why we cannot show them. There are 2 possible solutions:
    1. Ask owner

[2021-06-30 12:07] maxceem commented on #52
There is no easy straighforward way to fix this. Most likely we should fix issue in general for all the microapps. For now I've logged an issue in the Navbar app here https://github.com/topcoder-platform/micro-frontends-navbar-app/issues/27 and suggested some common solution, though that solution also has some downsides, quite complex and is not perfect.
So I guess this would need more discussion

[2021-06-30 12:11] maxceem commented on #53
Sum up:
- `Process payment` button should got disabled until the server request is finished, so we cannot click it multiple times until the server returns the response.

[2021-06-30 12:23] maxceem commented on #54
Sum up:

I suggested instead of adding user handles to the error messages, move the errors messages to the rows.
- When error of payment processing happens to some row, we already make such rows red color now.
- Additionally to that, add a red circle with `!` inside on the right to the checkbox like this:

   ![image](https://user-images.githubusercontent.com/146016/123959545-facdd200-d9b6-11eb-82

[2021-07-01 04:04] sandhiyakavi commented on #49
@maxceem Yes, I am not able to reproduce the issue, The Team name's are correctly displaying now.

[2021-07-01 04:12] sandhiyakavi commented on #25
Verified on Prod with @nkumar-topcoder

[2021-07-01 06:33] maxceem opened #55 "Show error details when all payments are failed"
At the moment when some payments are failed and some are successful we are showing error details for failed payments:

![image](https://user-images.githubusercontent.com/146016/124076727-5186ea80-da4f-11eb-9636-472f1ea100bf.png)

But if all payments are failed we are not showing error details:

![image](https://user-images.githubusercontent.com/146016/124076645-374d0c80-da4f-11eb-9524-48b338bfd338

[2021-07-01 07:03] maxceem opened #56 "[$100] UI to cancel payments"
We would like to be able to cancel payments if we need to.

![image](https://user-images.githubusercontent.com/146016/124078551-a8d98a80-da50-11eb-9a47-c70f256e8bd7.png)

- Inside Payments Popup add button one more column with no title. And in that column add `red` button `Cancel`.
  - `Cancel` button should be disabled for the payments in status `in-progres` - other statuses we can cancel.
- When

[2021-07-01 09:11] maxceem commented on #48
@MadOPcode all good now, nothing has been changed.

[2021-07-01 09:14] maxceem opened #57 "[$40] Show Alerts"
Add `Alerts` column as per design https://marvelapp.com/prototype/g6g2jh7/screen/78212451

![image](https://user-images.githubusercontent.com/146016/124098762-843bdd80-da65-11eb-941c-6d5267dd5db5.png)

- Don't add sorting and filtering to this column
- Add the next warings for now:
  - if `RB.billingAccount` is not set, show `BA - Not Assigned`
  - if the current WP is last one, then show `Last Bo

[2021-07-01 09:41] maxceem opened #58 "Show low BA balance Alert"
As per the design, we need to show a low BA balance:

![image](https://user-images.githubusercontent.com/146016/124101064-a9c9e680-da67-11eb-8c27-da792ccd42fe.png)

To do so we need to have an API which would return the balance to any arbitrary BA to which the user has access to. But at the moment we don't have such an API.

Such API endpoint should return us:
- is BA is active or no
- is BA has l

[2021-07-01 13:05] maxceem commented on #51
For the first part we are going to create a proxy endpoint via https://github.com/topcoder-platform/taas-apis/issues/390

[2021-07-02 13:15] MadOPcode commented on #38
@maxceem should the tooltip with project id contain the URL to the project? If so could you post the template for this URL?

[2021-07-02 13:22] maxceem commented on #38
No need for now. If needed we could add the link inside the table column directly not in tooltip

[2021-07-03 07:07] maxceem commented on #38
Implementation took care about many small details like:
- allow enter mouse into Tooltip and select text there
- show all the errors in Tooltip not only one of them
- nicely support dynamic content of the Tooltip

So I'm increasing the prize to $175 for this task.

[2021-07-03 07:56] maxceem opened #61 "[$5] Use new endpoint to get member suggestions"
To fix the first part of the issue https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/51.

We've implemented a proxy endpoint in TaaS API which would return member suggestions no only to admins, but also to Booking Manager users.

So we have to update Admin App to not use `${config.API.V3}/members/_suggest/${fragment}` and use [/v5/taas-teams/members-suggest/{fragment}](htt

[2021-07-03 15:49] MadOPcode commented on #55
@maxceem to clarify, should the error details be shown as described in #54?

[2021-07-03 15:55] MadOPcode commented on #57
@maxceem how to display multiple alerts in the same cell?

[2021-07-03 17:02] maxceem commented on #55
@MadOPcode no. I mean in the toastr. See screenshots above:
- when some of the payments is success - we show error details
-but when all payments are failed, we don't show error details

So we have to show error details inside toastr even if all payments are failed like this in toastr:

![image](https://user-images.githubusercontent.com/146016/124361795-9a01fc00-dc39-11eb-8203-19eb3a758046.png)

[2021-07-03 17:05] maxceem commented on #57
@MadOPcode hmm, good question.

I think we can show them comma separated inside the yellow label. And inside the tooltip show them on the new lines like you did for checkboxes.

[2021-07-03 18:01] MadOPcode commented on #55
@maxceem but in #54 you wrote:

So should the error messages be both in the popovers near checkboxes and in the toastrs or only in the popovers?

[2021-07-03 18:17] maxceem commented on #55
Ah, you are right. So the current issue is not needed anymore. As we would not show error messages in toaster anymore. We would always show them near checkboxes.

Please, ignore this issue.

[2021-07-05 05:32] sandhiyakavi commented on #27
Verified on Prod Env with @nkumar-topcoder

[2021-07-05 05:32] #27 closed

[2021-07-05 05:33] sandhiyakavi commented on #10
Verified on Prod Env with @nkumar-topcoder

[2021-07-05 05:33] #10 closed

[2021-07-05 05:34] #13 closed

[2021-07-05 05:36] sandhiyakavi commented on #11
Verified on Prod Env with @nkumar-topcoder

[2021-07-05 05:36] #11 closed

[2021-07-05 05:37] sandhiyakavi commented on #7
Verified on Prod Env with @nkumar-topcoder

[2021-07-05 05:37] #7 closed

[2021-07-05 05:38] sandhiyakavi commented on #6
Verified on Prod Env with @nkumar-topcoder

[2021-07-05 05:38] #6 closed

[2021-07-05 05:39] sandhiyakavi commented on #1
Verified on Prod Env with @nkumar-topcoder

[2021-07-05 05:39] #1 closed

[2021-07-05 07:11] sandhiyakavi commented on #35
Verified on PRod Env with @nkumar-topcoder

[2021-07-05 07:11] #35 closed

[2021-07-05 07:12] sandhiyakavi commented on #34
Verified on PRod Env with @nkumar-topcoder

[2021-07-05 07:12] #34 closed

[2021-07-05 07:13] sandhiyakavi commented on #30
Verified on Prod Env

[2021-07-05 07:13] #30 closed

[2021-07-05 07:13] sandhiyakavi commented on #29
Verified on PRod Env with @nkumar-topcoder

[2021-07-05 07:13] #29 closed

[2021-07-05 07:14] sandhiyakavi commented on #26
Verified on PRod Env with @nkumar-topcoder

[2021-07-05 07:14] #26 closed

[2021-07-05 07:15] #25 closed

[2021-07-05 07:56] sandhiyakavi commented on #49
@maxceem It is happening for the BookingManager role

![image](https://user-images.githubusercontent.com/55895538/124437314-e7a17480-ddb1-11eb-8b58-dc1b84c7c4ab.png)

[2021-07-05 09:09] sandhiyakavi commented on #48
@maxceem 1. The 'Resource' spelling is incorrect in the tooltip.

![image](https://user-images.githubusercontent.com/55895538/124446863-c6de1c80-ddbb-11eb-8880-f15021f1e5c7.png)

2. Also can we have a bulletin point or similar one to display these messages if they are more than one?

![image](https://user-images.githubusercontent.com/55895538/124447015-f2610700-ddbb-11eb-945e-090e27844c7c.png)

Ot

[2021-07-05 09:22] sandhiyakavi commented on #50
@maxceem Currently if we try to increase WorkingDays beyond its fitting to the RB dates,error message is getting displayed but if we try to again change it back to its previous number(without refreshing), the green tick mark is getting displayed which should not happen as the number is not changed in this case.

https://user-images.githubusercontent.com/55895538/124448821-cd6d9380-ddbd-11eb-917c-5

[2021-07-05 09:37] sandhiyakavi commented on #38
Verified on Dev Env.

![image](https://user-images.githubusercontent.com/55895538/124450853-ca73a280-ddbf-11eb-96b5-a29ef83ff260.png)

![image](https://user-images.githubusercontent.com/55895538/124450943-e119f980-ddbf-11eb-8fcd-a6d178d647ee.png)

![image](https://user-images.githubusercontent.com/55895538/124450994-f000ac00-ddbf-11eb-9511-e912c3dec193.png)

[2021-07-05 09:38] maxceem commented on #50
@sandhiyakavi this is a bit tricky issue.

The reason for this, when we increase the number it send to the server and gets error, but visually, the number stays as increased. When we decrease it back to previous value we send request to the server again, and this time server returns success - actually value is not changed we just send request to set the same value which is already there.

So the g

[2021-07-05 09:38] maxceem commented on #48
@sandhiyakavi both are fixed now and pushed to DEV.

[2021-07-05 10:19] sandhiyakavi commented on #48
Verified on Dev Env.

![image](https://user-images.githubusercontent.com/55895538/124456636-e7ab6f80-ddc5-11eb-8b14-6a7811fb151a.png)

[2021-07-05 10:25] sandhiyakavi opened #63 "Green tick displayed for Working Days which is not actually changed."
Description:

Refer https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/50#issuecomment-873955109:

[2021-07-05 10:27] sandhiyakavi commented on #50
Verified on Dev Env. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/124457605-f0e90c00-ddc6-11eb-8f4b-4ca779f62b35.png)

[2021-07-05 10:48] sandhiyakavi commented on #46
@maxceem If we check select all and only one record is available then in that case it is still displaying in plural form.

![image](https://user-images.githubusercontent.com/55895538/124460006-c8164600-ddc9-11eb-9c55-eacf8056c0a8.png)

Other than above, others are displaying fine.
![image](https://user-images.githubusercontent.com/55895538/124459482-20991380-ddc9-11eb-9d7b-8a7bc844415b.png)
![imag

[2021-07-05 11:16] sandhiyakavi commented on #53
Verified on Dev Env. Not able to schedule more than once

[2021-07-05 11:31] maxceem commented on #55
This is no longer needed, as per https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/54 we are showing errors inside the rows instead of toastrt.

[2021-07-05 11:31] #55 closed

[2021-07-05 13:58] maxceem commented on #46
@sandhiyakavi fixed plural form when selecting.

[2021-07-06 01:22] sandhiyakavi commented on #61
Verified on Dev Env. Suggestions are getting displayed now for Booking Manager role.

![image](https://user-images.githubusercontent.com/55895538/124528769-ffc1d400-de43-11eb-860a-183d60523cea.png)

[2021-07-06 05:33] sandhiyakavi commented on #56
@maxceem For cancel payments, the 'cancel' button is not active for 'scheduled' status and active for 'in-progress' status but it should be active for 'scheduled' and inactive for 'in-progress'

<img width="960" alt="scheduled cannot cancel" src="https://user-images.githubusercontent.com/55895538/124547289-df574100-de66-11eb-84fc-e76506c4f8b9.png">
<img width="960" alt="Screenshot_3" src="https://

[2021-07-06 05:42] sandhiyakavi commented on #57
Verified on Dev Env.

<img width="959" alt="alerts_column" src="https://user-images.githubusercontent.com/55895538/124548217-60630800-de68-11eb-8f9f-81ea1151939c.png">

[2021-07-06 05:47] sandhiyakavi commented on #46
@maxceem Still it is denoting plural '1 record on this page are selected'

<img width="956" alt="still_denoting_plural" src="https://user-images.githubusercontent.com/55895538/124548690-057de080-de69-11eb-870e-6f90b7627e25.png">

[2021-07-06 06:04] sandhiyakavi commented on #54
@maxceem Currently only for select all records, Failed to schedule payment is displayed but for that too, 'red circle with !  on the right to the checkbox' is not shown

<img width="959" alt="failed" src="https://user-images.githubusercontent.com/55895538/124550142-32cb8e00-de6b-11eb-8a57-2e53d1fa720c.png">

https://user-images.githubusercontent.com/55895538/124550165-39f29c00-de6b-11eb-84bb-bf306

[2021-07-06 06:26] maxceem commented on #46
@sandhiyakavi `is` / `are` fixed now.

[2021-07-06 06:30] maxceem commented on #54
@sandhiyakavi Got your point. This feature to pay ALL the payments were implemented to support a big number of payments. So we implemented API to NOT return actually errors that happened, only the number of success and failed payments. That's why at the moment we cannot show details of errors.

Though we can give it a try and implement it. I suggest logging a separate issue for this case where we

[2021-07-06 06:38] maxceem commented on #63
I suggest the next solution:
- if error during API request happens, we have to revert to the previous value, so this case as shown in the video would work like this:
   - current value is `0`
   - we increase value to `1`
   - error happens during server request
   - we revert the value to the previous one `0`
- the tricky moment how to handle a case, where we click increase/decrease several times

[2021-07-06 06:50] maxceem commented on #56
@sandhiyakavi fixed.

[2021-07-06 07:09] maxceem commented on #37
Additionally disabled `decrease` button when the current value is `0` because we cannot make it less. We don't show tooltip in such case, because the reason for disabling button is clear.

[2021-07-06 07:20] maxceem commented on #63
We implemented it another way via https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/37.
So we don't allow to increase/decrease the value if that value is not suitable and this error would never happen now.

It may still happen that some other error would happen on the server, but the chance is very small, so I suggest leave such rare edge cases as it is, because fixing thi

[2021-07-06 07:48] sandhiyakavi commented on #63
@maxceem Yes, with #37 fix this issue won't happen

[2021-07-06 08:36] sandhiyakavi commented on #37
@maxceem I am able to see some '+' and '-' are slightly bolder than others.
![image](https://user-images.githubusercontent.com/55895538/124568924-6cf35a80-de80-11eb-9266-38b2f568ad37.png)

Other than above, functionality wise everything is working fine.
![image](https://user-images.githubusercontent.com/55895538/124566166-c60dbf00-de7d-11eb-930d-b9993d3842c4.png)
![image](https://user-images.githu

[2021-07-06 08:40] sandhiyakavi commented on #46
Verified on Dev Env.

![image](https://user-images.githubusercontent.com/55895538/124569361-d83d2c80-de80-11eb-9a2f-76c86110fe83.png)
![image](https://user-images.githubusercontent.com/55895538/124569471-f2770a80-de80-11eb-92a1-892f39fc498f.png)
![image](https://user-images.githubusercontent.com/55895538/124569585-0c185200-de81-11eb-902a-0a4ce50d9ecb.png)
![image](https://user-images.githubusercon

[2021-07-06 08:43] maxceem commented on #37
@sandhiyakavi I believe the issue with bolder `-` and `+` is a different existent issue and it's not connected with the functionality we implemented in this issue. Can we track it separately? Also, could you, please, mention your browser and operation system, I believe it only happens on some OS and browser, as it doesn't happen to me.

[2021-07-06 08:46] sandhiyakavi commented on #54
@maxceem I think there is no way to test this with either single or multiple payments after the implementation of this https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/48 right?

[2021-07-06 08:52] maxceem commented on #54
Ah, yes, @sandhiyakavi when I tested it locally, I disabled #48 so I can see the error details messages.

[2021-07-06 09:00] sandhiyakavi commented on #56
Verified on Dev Env. Able to cancel payments for all status other than 'in-progress'
![image](https://user-images.githubusercontent.com/55895538/124572192-6b776180-de83-11eb-9f84-c0bbf34cddd6.png)

![image](https://user-images.githubusercontent.com/55895538/124572117-5c90af00-de83-11eb-8426-4214e05f036d.png)
![image](https://user-images.githubusercontent.com/55895538/124572884-fb1d1000-de83-11eb-9

[2021-07-06 09:03] sandhiyakavi commented on #54
@maxceem I marked this as pass, as this issue will be resolved with #48

[2021-07-07 06:43] maxceem commented on #61
Paid via https://www.topcoder.com/challenges/0f2822a0-5250-4668-baec-7c885f852a4a

[2021-07-07 06:45] maxceem commented on #37
Paid via https://www.topcoder.com/challenges/022e449b-b58c-4153-a07e-218d2a4c8801

[2021-07-07 06:47] maxceem commented on #38
Paid via https://www.topcoder.com/challenges/b79e1ff2-0594-4edb-8347-087b9f460f96

[2021-07-07 06:50] maxceem commented on #57
Paid via https://www.topcoder.com/challenges/25890648-ff04-4aad-8a27-13ad867e832f

[2021-07-07 06:52] maxceem commented on #56
Paid via https://www.topcoder.com/challenges/449bf8d0-61f5-4d51-83dc-4481b145334d

[2021-07-07 06:54] maxceem commented on #54
Paid via https://www.topcoder.com/challenges/85a45330-c43a-41ac-bf1f-e0667ba181b1

[2021-07-07 06:56] maxceem commented on #53
Paid via https://www.topcoder.com/challenges/f4366c9a-e111-46d2-8cb6-fd8516f0b136

[2021-07-07 06:58] maxceem commented on #50
Paid via https://www.topcoder.com/challenges/dd90e9bb-eff7-4cbe-aa67-0c3791379de0

[2021-07-07 06:59] maxceem commented on #48
Paid via https://www.topcoder.com/challenges/ed92a075-8557-47ac-9a86-d0955ea472bf

[2021-07-07 07:01] maxceem commented on #46
Paid via https://www.topcoder.com/challenges/b14afb84-d47b-4aca-80af-2972780c88f2

[2021-07-07 13:36] maxceem commented on #45
Paid via https://www.topcoder.com/challenges/27ac604f-87de-42ef-bb2f-82d0a46da37a

[2021-07-08 05:02] sandhiyakavi commented on #45
Verified on Dev Env. Displaying correctly

![image](https://user-images.githubusercontent.com/55895538/124865206-30953b00-dff5-11eb-87f8-b5c144694c56.png)

[2021-07-08 05:27] sandhiyakavi opened #66 "Not able to know the reason of failure for Payment through select all records"
Description:

For payment through select all records, if some records fails it's difficult to know the reason of failure/resources that failed as it shows "Failed to schedule payment for (n) resources".

This is not an issue with multiple payments as the check disabled resources won't be able to select for processing payment.

<img width="959" alt="failed" src="https://user-images.githubuserconten

[2021-07-08 08:47] sandhiyakavi opened #67 "Mobile: UI issues"
Description:

1. Not able to view the calendar completely.

![image_6487327 (4)](https://user-images.githubusercontent.com/55895538/124890294-db682200-e012-11eb-96a5-27dccec9dc3f.JPG)

2. Not able to view the whole pop up from the Total Paid column.Same issue inside the Resource details popup.

![image_6487327 (2)](https://user-images.githubusercontent.com/55895538/124890572-22561780-e013-11eb-841

[2021-07-09 05:25] sandhiyakavi opened #68 "The Total paid details popup shows only first 11 records if shown 10 records per page"
Description:

The pop up shown on clicking the dotted line shows only the first 11 payment details if filtered by 10 records per page.

<img width="959" alt="not able to view" src="https://user-images.githubusercontent.com/55895538/125027616-74557680-e0c1-11eb-9339-e76706bd97ad.png">

[2021-07-09 08:16] sandhiyakavi opened #69 "Some records of Working Days column are bolder than others"
Description:
Some records of Working Days column are bolder than others. Refer: https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/37#issuecomment-874571793

![124568924-6cf35a80-de80-11eb-9266-38b2f568ad37](https://user-images.githubusercontent.com/55895538/125046460-fef5a000-e0d8-11eb-8506-e691f21dbdb1.png)

browser: Chrome
Version: 91.0.4472.124 (Official Build) (64-bit)

[2021-07-09 08:23] sandhiyakavi opened #70 "Edge browser: Additional vertical scroll bar is getting displayed"
Description:

Additional vertical scroll bar is getting displayed in Edge browser.

![image](https://user-images.githubusercontent.com/55895538/125047291-c86c5500-e0d9-11eb-829e-cf17e12f758f.png)

Browser: Microsoft Edge
Browser Version: 91.0.864.67 (Official build) (64-bit)
OS: Windows 10 (64-bit)

[2021-07-13 07:55] sandhiyakavi opened #71 "Payment is getting skipped if the payment switch is off"
Description:

The payment that is processed when the Payment switch is OFF is not getting paid even after the payment switch is ON but the status of the payment is getting changed to 'Completed' and that particular payment is getting skipped(not paid).

cc: @nkumar-topcoder

[2021-07-13 07:56] sandhiyakavi commented on #45
verified on Prod Env with @nkumar-topcoder

[2021-07-13 07:56] #45 closed

[2021-07-13 07:57] sandhiyakavi commented on #38
verified on Prod Env with @nkumar-topcoder

[2021-07-13 07:57] #38 closed

[2021-07-13 07:57] sandhiyakavi commented on #46
verified on Prod Env with @nkumar-topcoder

[2021-07-13 07:57] #46 closed

[2021-07-13 08:00] sandhiyakavi commented on #48
Verified on Prod Env with @nkumar-topcoder

[2021-07-13 08:00] #48 closed

[2021-07-13 08:01] sandhiyakavi commented on #50
Verified on Prod Env with @nkumar-topcoder

[2021-07-13 08:01] #50 closed

[2021-07-13 08:01] sandhiyakavi commented on #53
Verified on Prod Env with @nkumar-topcoder

[2021-07-13 08:01] #53 closed

[2021-07-13 08:02] sandhiyakavi commented on #37
Verified on Prod Env with @nkumar-topcoder

[2021-07-13 08:02] #37 closed

[2021-07-13 08:03] sandhiyakavi commented on #57
Verified on Prod Env with @nkumar-topcoder

[2021-07-13 08:03] #57 closed

[2021-07-13 08:03] sandhiyakavi commented on #56
Verified on Prod Env with @nkumar-topcoder

[2021-07-13 08:03] #56 closed

[2021-07-13 08:07] sandhiyakavi commented on #54
Verified on Prod Env with @nkumar-topcoder

[2021-07-13 08:07] #54 closed

[2021-07-13 08:11] maxceem commented on #63
@sandhiyakavi as https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/37 is implemented now, I guess we may consider this issue as resolved, as this would rarely happen now.

[2021-07-13 08:14] maxceem commented on #71
@sandhiyakavi we use payment switch OFF for testing. When we disable it, the API still behaves the same as before and process the payment but without actual payment so we can test this workflow without actual payment.

After switching ON payments it should not process the payments which were processed when it was switched OFF because that payment are not meant to be paid.

Please, let me know if t

[2021-07-13 08:57] sandhiyakavi commented on #63
Issue resolved with #37

[2021-07-13 08:57] #63 closed

[2021-07-15 08:10] sandhiyakavi commented on #61
Verified on Prod with @nkumar-topcoder

[2021-07-15 08:10] #61 closed

[2021-07-19 13:04] maxceem opened #72 "[$50] Filter by Alerts"
Support filtering by Alerts column.

On the left sidebar add a new section called `Alerts` with the next 3 checkboxes to filter by:
- No BA Assigned
- OnBoarding Week
- Last Booking Week

It should look like this:

![image](https://user-images.githubusercontent.com/146016/126163949-c1a2d424-1103-4b01-8d5d-b361139cfb64.png)

### API

- API is updated to support these filters, see https://github.com

[2021-07-19 13:55] maxceem opened #73 "[$30] Don't allow processing payments for the future WorkPeriods"
At the moment we process payment for any WorkPeriod no matter if it's already past, current of future. We should NOT only allow processing/creating payments for future WorkPeriods.

- If we select WorkPeriod which is in the future - disable all the checkboxes and "Proces Payment" button so we cannot process a payment.
- when we put the cursor on the disabled checkbox or ~disabled "Process Payment"

[2021-07-20 14:26] yoution commented on #73
@maxceem please assign to me

[2021-07-20 16:07] maxceem commented on #72
@yoution the API for this task is implemented now, so feel free to pick this up.

[2021-07-20 19:47] maxceem commented on #73
@yoution we've got a small update for this task, we should also allow processing payments for the current week.
So we should only not allow processing payments for the next week.

[2021-07-21 00:32] yoution commented on #72
@maxceem please assign to me

[2021-07-21 06:54] yoution commented on #72
@maxceem I don't know how to pass the parameters to the BE，
for `alert` filter,  we can only select one option at the same time? or we can select all like `payment status` ?
for `no db assign`, if checked, we pass `billingAccountId:0`, if unchecked? what to pass?
for `onboarding week`, if checked, we pass `isFirstWeek=true`, if unchecked, we pass `isFirstWeek=false`? and `last booking week ` also

[2021-07-21 07:09] maxceem commented on #72
@yoution good questions.

if unchecked, then don't pass filter by `billingAccountId` at all

if uncheck, better don't pass anything, but passing `false` is also fine.

Hmm, I have to clarify this moment. I would be back to you shortly. For now, I guess you can allow to select them all like for payments.

[2021-07-21 08:40] yoution commented on #72
because I found if I pass `isFirstWeek` and `isLastWeek` together, the BE will show error, so I asked to you.
on the other hand, this payment seems a little low, the url must update, when I check the checkbox, how about 50$?

[2021-07-21 08:46] maxceem commented on #72
yeah, we would fix it in API, please ignore this error for now, it would go away soon.

ok, updated to $50

[2021-07-21 11:00] maxceem commented on #72
API should allow passing both together now

[2021-07-21 11:18] yoution commented on #72
1. seems still not work
![image](https://user-images.githubusercontent.com/3863914/126480264-752d899a-ffcb-4327-85b7-2e1e7a154033.png)
![image](https://user-images.githubusercontent.com/3863914/126480331-26c50c67-828a-4eac-ba8c-cfd03c82b1a4.png)
2. for ba id
![image](https://user-images.githubusercontent.com/3863914/126480398-c0a8712d-0281-4a21-8598-fd1a390eb0b7.png)
![image](https://user-images.g

[2021-07-21 11:23] maxceem commented on #72
1. `workPeriods.isFirstWeek` and `workPeriods.isLastWeek` are not allowed inside the `fields` param, because we don't have such fields. We can only use them as filters.

2. hmm, I'll check this out

[2021-07-21 11:40] maxceem commented on #72
@yoution regrading the second issue with BA. It happens because `&billingAccountId=0` is included twice inside the request which is converted to array in the API side. `&billingAccountId=0` should be included only once in URL.

[2021-07-21 14:09] maxceem commented on #73
Challenge https://www.topcoder.com/challenges/08c5a1ef-02ab-481e-9fda-36e0da2ee5d6 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-21 14:09] maxceem commented on #73
Challenge https://www.topcoder.com/challenges/08c5a1ef-02ab-481e-9fda-36e0da2ee5d6 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-21 14:11] maxceem commented on #73
Challenge https://www.topcoder.com/challenges/1edf868e-9629-4f7d-8edd-576f6a57b457 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-21 14:11] maxceem commented on #73
Challenge https://www.topcoder.com/challenges/1edf868e-9629-4f7d-8edd-576f6a57b457 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-21 14:13] maxceem commented on #73
Challenge https://www.topcoder.com/challenges/1edf868e-9629-4f7d-8edd-576f6a57b457 yoution has been unassigned.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-21 14:19] maxceem commented on #72
Challenge https://www.topcoder.com/challenges/e873575e-b876-4f19-a499-17262a0c76cc has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-21 14:19] maxceem commented on #72
Challenge https://www.topcoder.com/challenges/e873575e-b876-4f19-a499-17262a0c76cc has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-21 14:20] maxceem commented on #73
Challenge https://www.topcoder.com/challenges/1edf868e-9629-4f7d-8edd-576f6a57b457 yoution has been unassigned.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-21 14:20] maxceem commented on #73
yoution has been unassigned because this ticket doesn't have the tcx_OpenForPickup label.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-21 14:20] maxceem commented on #73
Challenge https://www.topcoder.com/challenges/1edf868e-9629-4f7d-8edd-576f6a57b457 has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-21 14:25] maxceem opened #77 "Show `On Boarding Week` in Alert column"
In another issue https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/72 we implemented ability to filter by alerts:

![image](https://user-images.githubusercontent.com/146016/126505075-a807b93d-b203-4df4-a5f3-a738fcabaf2a.png)

It include filtering by `on-boarding week`. But at the moment we are not showing `on boarding week` alert in the Alerts column. Should we show it the

[2021-07-22 05:53] sandhiyakavi commented on #73
Verified on Dev Env. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/126595081-1826e561-9054-43f2-8529-563f9f7f57af.png)

![image](https://user-images.githubusercontent.com/55895538/126595038-e061dfa5-d10e-4df1-84e0-9d5dafb29ae2.png)

[2021-07-22 06:56] maxceem commented on #72
Payment task has been updated: https://www.topcoder.com/challenges/e873575e-b876-4f19-a499-17262a0c76cc
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `e873575e-b876-4f19-a499-17262a0c76cc` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-22 06:56] maxceem commented on #73
Payment task has been updated: https://www.topcoder.com/challenges/1edf868e-9629-4f7d-8edd-576f6a57b457
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `1edf868e-9629-4f7d-8edd-576f6a57b457` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-07-22 08:16] sandhiyakavi commented on #72
Verified in Dev Env.

![image](https://user-images.githubusercontent.com/55895538/126608544-8ba458a8-885c-4955-b25f-797938aa7473.png)
![image](https://user-images.githubusercontent.com/55895538/126608602-bccf3135-fdf8-48fb-8af9-23cf5cf1dec6.png)
![image](https://user-images.githubusercontent.com/55895538/126608648-a55192f7-d0c3-4d25-9a40-88bd0b169d93.png)
![image](https://user-images.githubusercon

[2021-07-22 21:09] wdprice opened #111 "Simple CRUD interface for Role Management"
Build a simple CRUD tool inside the TaaS Admin tab of platform.topcoder.com which allows admins to edit the taas-role data.

Must allow creation of a new role, and deletion of an existing role.

Following fields are must haves:
- Role Name
- Job Description (WYSIWYG editor ideally, but focus on compatibility with the existing display in the UI)
- Skills (include typeahead/validation against the en

[2021-07-27 08:15] maxceem commented on #77
As per discussion with Nagendra on Slack, we decided to rename this section of filter in the sidebar from "Alerts" to "Misc Filters" to indicate that it can include not only Alert filters:

![image](https://user-images.githubusercontent.com/146016/127120457-f3e99fe5-c3c4-4749-b770-55ab3ceb8b37.png)

[2021-07-27 08:16] maxceem opened #79 "Allow up to 10 "Working Days""
### Background

In TaaS we have members (**ResourceBookings**) who are assigned to the customer's **Jobs** for some period of time. This time is divided into weeks (**WorkPeriods**) and payments to the **ResourceBookings** (members) is processed weekly per **WorkPeriod**. For each WorkPeriod we can enter how many days user worked per that week (0 till 5) and process payments for the working days.

[2021-07-27 08:18] maxceem opened #80 "[$45] Edit payments"
### Background

At the moment we can only create new payments and cancel whole payments if we need to. But sometimes managers would like to change the amount of payment.

### Task

- We already can show the list of all the payments:

   ![image](https://user-images.githubusercontent.com/146016/127207368-f36796ee-a771-4a3d-8b5a-28c83a11c850.png)

- Replace `Cancel` button in this list with `Actions

[2021-07-27 08:19] maxceem opened #81 "Update BA for already processed payments of the Work Period"
### Background

Managers can process payments for Work Periods. Money for the payments comes from the Billing Account which is associated with Resource Booking:

![image](https://user-images.githubusercontent.com/146016/127316605-bde4f465-ac7d-4c80-b3eb-9ba5a0237a11.png)

Sometimes Managers process payments using the wrong billing account. And they would like to update the billing account for all

[2021-07-27 08:19] maxceem opened #82 "[$80] Additional Payments"
### Background

At the moment we can only process payments to the resource bookings for some amount of days worked via UI https://monosnap.com/file/HOmkcBnEVYmz3j0n32CcQ25TFQmQT5.

Sometimes managers would like to process additional payments which would not be counted for days. For this purpose we would like to introduce another way to process additional payments.

### Task

- Add `Actions` dropdo

[2021-07-30 07:52] lakshmiathreya commented on #72
Filter by Alerts Verified in Prod.

[2021-07-30 07:58] lakshmiathreya commented on #73
Verified in Prod.
<img width="1680" alt="Screenshot 2021-07-30 at 1 26 19 PM" src="https://user-images.githubusercontent.com/51733042/127620796-61ebd380-490e-487c-a812-d90a2594e35b.png">
<img width="1680" alt="Screenshot 2021-07-30 at 1 27 52 PM" src="https://user-images.githubusercontent.com/51733042/127620984-541787c6-136d-4ed6-a729-a92f658d548e.png">

[2021-07-30 08:08] #72 closed

[2021-07-30 08:09] #73 closed

[2021-08-03 08:03] sdgun opened #109 "Niche rate cannot be set from Taas Admin for existing roles which do not have a niche rate"
**Steps**

Go to TAAS Admin >> Roles
Click on update link on an existing role which does not have niche rate(ex- .Net Engineer)
Expand Rates section and try to increase the rate in Niche field

Shows 'NAN'

https://user-images.githubusercontent.com/4592712/127979287-99b25dee-a0d9-446c-99f4-391c12d6728f.mp4

[2021-08-03 08:12] sdgun opened #110 "Typo in the role created message"
**Steps**

Go to TAAS Admin >> Roles
Create a new role
Check the message

![image](https://user-images.githubusercontent.com/4592712/127981547-e9ca1e48-b201-4a6b-82f0-bf2716b350f2.png)

[2021-08-04 04:42] sdgun opened #107 "The rates, # of Members, # of Available Members, Time to Candidate & Time to Interview fields do not allow entering values. Can only enter values using +/- buttons"
**Steps**

Go to TAAS Admin >> Roles
Click create new role button
Try to add values into rates, # of Members, # of Available Members, Time to Candidate &  Time to Interview fields

These fields do not allow entering values. Can only enter values using +/- buttons. So entering large values in the rates specially, is difficult

![image](https://user-images.githubusercontent.com/4592712/128123172-5f1

[2021-08-05 07:40] maxceem opened #86 "Show whether we sent survey for Work Period or no"

[2021-08-10 12:03] maxceem opened #90 "[$30] Make the table more compact"
The table became too wide and it cannot be shown without horizontal scrolling, see demo video https://monosnap.com/file/PrId2L8s3ZACplyLAS53t0RSg4GrMP.

![image](https://user-images.githubusercontent.com/146016/128862508-7ce10870-43ad-4af4-bd3b-6e50fc045e7a.png)

We would like to change a bit how we show data to save the space:

- Make the `Team Name` max length visible around 10 characters + `...

[2021-08-10 12:08] maxceem commented on #90
@MadOPcode would you like to pick this up as a private task?

[2021-08-10 13:48] MadOPcode commented on #90
@maxceem yes, I'd like to take this task.

[2021-08-11 12:37] maxceem opened #92 "[$10] Display payment processing date and time"
Follow up from https://github.com/topcoder-platform/taas-apis/issues/443

Inside the payment list add a new column "Created At" which would display date and time when payment was created:
- show using timezone of the browser
- format "Jan 28, 2021 12:23 am"

![image](https://user-images.githubusercontent.com/146016/129029612-0140cd93-cc46-4eb3-a10e-1abee6bea795.png)

[2021-08-11 12:38] maxceem commented on #92
@MadOPcode feel free to pick this up if you like.

[2021-08-12 09:04] sandhiyakavi commented on #80
@maxceem

1. In the modal, if we enter floating values (even though less than 100,000) with six digits, it is showing wrong error message "Amount should be greater than 0 and less than 100,000."
![image](https://user-images.githubusercontent.com/55895538/129168741-9b170e0f-68ba-4081-83a6-f1a91b3e9d23.png)

2. Can we disable Edit payment for Failed status, as it is of no use in editing it right?
![

[2021-08-12 10:35] maxceem opened #93 "[$35] Show error if not all BAs were updated successfully"
Sometimes when sending a request to update BAs for WP payments it can happen that some payments don't get their BA updated (perhaps it happens with in-progress payments) but the response has status code 200. As a result currently the corresponding modal gets closed and the user is not notified about not all BAs being updated.
Perhaps the modal should not be closed in this case and the payments' id

[2021-08-12 10:35] maxceem opened #94 "[$45] Update Work Period and Payment data in UI after Payment Editing"
- at the moment when payment is cancelled, the work period data is reloaded - it's very nice
- but after we edit payment the work period data is not reloaded and even data of the update payment is not updated inside the table, see demo video https://monosnap.com/file/q9mE4x8sOzv2qbmk85g47gCEDiTr1k. As we already started this topic let's fix this: after payment is updated:
  - update data of the pa

[2021-08-12 10:50] maxceem commented on #86
@nkumar-topcoder you've mentioned on the Slack that business is not interested in such a flag, should we close this issue?

[2021-08-12 10:57] maxceem commented on #82
Sum up:

1. Disable "Additional Payment" option for future work periods and show tooltip when we put mouse on it: `Not allowed processing payments for the future weeks`.

2. will be fixed server-side

3. will be fixed server-side

4. Need to fix validation.

5. Can we make the default value empty instead of `0`?

6. let's disable the "additional payment" option if there is no BA assigned to the co

[2021-08-12 11:11] maxceem opened #95 "[$40] Make toastr messages always visible"
Follow up issue from https://github.com/topcoder-platform/micro-frontends-taas-admin-app/issues/82#issuecomment-896643567 issue 6:

When the page has a scrollbar and we make some operations at the bottom of the page we don't see the toastr which migh lea to confusion. For example when we perform some operations like editing payment or adding additional payment and it fails, the modal would stay op

[2021-08-12 14:49] MadOPcode commented on #80
@maxceem regarding clause 1. Since there's no point in paying amounts with less than 1 cent precision shouldn't the validation error message be changed instead of validation method? E.g. to "The amount should contain at most 2 digits after floating point and should be greater than 0 and less than 100,000."

[2021-08-12 14:59] maxceem commented on #80
@MadOPcode is it hard to not allow entering more than 2 digits after point?

[2021-08-12 15:02] MadOPcode commented on #80
@maxceem no, there just seems to be no meaning in this.

[2021-08-12 15:07] maxceem commented on #80
@MadOPcode the idea is to make it easy to follow our requirement for the entering amount. It feels natural to not allow entering more than 2 points. Also, we would keep validation not so complex.

[2021-08-12 15:17] MadOPcode commented on #80
@maxceem after re-reading your comments I think I've misunderstood you. I somehow thought that you're talking about _allowing_ to enter more than 2 digits.
Of course there's a meaning in **not** allowing to enter more than 2 digits.

[2021-08-16 06:11] sandhiyakavi commented on #81
@maxceem Below are some of the issues found,

1. No BA option is getting displayed normally in the dropdown, except the one assigned to the RB through backend.

![image](https://user-images.githubusercontent.com/55895538/129512370-1e47536b-b780-4065-9a4a-f9ae30b19ff6.png)

2. If we assign some invalid/expired BA to the RB, no error is shown. The payment is going to completed status / BA updated fo

[2021-08-16 08:05] maxceem commented on #81
@sandhiyakavi

1. In this list we are show the same list of BA which we show for RB:

   ![image](https://user-images.githubusercontent.com/146016/129530764-b0254f71-89ca-4bd4-bb13-b8228d72bde0.png)

   ![image](https://user-images.githubusercontent.com/146016/129530796-5f836a97-6b6b-4a5b-a321-1a1208ca8cbb.png)

   So if for RB we are showing only 1 BA, then when updating we also showing only 1 BA

[2021-08-16 08:05] sandhiyakavi commented on #92
Verified in Dev Env. The payment created time is displayed correctly.

![image](https://user-images.githubusercontent.com/55895538/129531521-0e50dbba-39e6-4231-a00f-3fa6e0520f15.png)
![image](https://user-images.githubusercontent.com/55895538/129531565-1b114756-d350-45d4-b9b0-e8fddad448b0.png)

[2021-08-16 09:18] sandhiyakavi opened #101 "[Firefox] Actions down arrow button is not centered"
Description:

Actions down arrow button is not centered in Mozilla Firefox browser.

![image](https://user-images.githubusercontent.com/55895538/129540354-561ccf35-6b6c-47bd-926f-f31d65d81a3a.png)

OS: Windows 10
Firefox version: 91.0 (64-bit)

[2021-08-16 09:26] maxceem commented on #101
@MadOPcode could you please have a look on this?

[2021-08-16 09:39] sandhiyakavi commented on #90
Verified on Dev Env.

1. Team Name max length visible around 10 characters + ... at the end. Inside the tooltip additionally to the Project Id: , Team name: ... with the full team name is displayed.
![image](https://user-images.githubusercontent.com/55895538/129543118-4d083f3c-4053-4f95-8b24-ded5ecd10101.png)

2. Inside Alert column. Only the icon is shown and the tooltip with Alert text is displa

[2021-08-16 10:05] MadOPcode commented on #101
That's weird. It looks fine on my end (Windows 10, Firefox 91).
![actions_buttons](https://user-images.githubusercontent.com/8669066/129546738-672fd3f1-f32f-4549-8200-ed718050d7f5.png)
How does it look after purging the browser cache (Ctrl+F5)?

[2021-08-16 10:24] maxceem commented on #101
Hmm, looks good to me in FF 91.0 on macOS 11.4 too:

![image](https://user-images.githubusercontent.com/146016/129547994-ad269f1c-4870-4c9e-a9e7-14e8a737fbc5.png)

@sandhiyakavi could you please try purging the browser cache (Ctrl+F5)?

[2021-08-16 10:42] sdgun opened #102 "Messages in admin app(Roles) needs to be improved"
**Steps**
Go to https://platform.topcoder-dev.com/taas-admin/roles
Click create new role
try to save without entering a mandatory value

The error messages needs to be more meaningful and user friendly

Ex:

![image](https://user-images.githubusercontent.com/4592712/129551592-81cd8458-3d21-4a9e-abf5-63d6dad6d7a8.png)

[2021-08-16 10:42] sandhiyakavi commented on #82
Issue points 2 and 3 are not yet fixed.

Other issues are fixed and working fine.
1. Not able to process Additional payments for future week.
![image](https://user-images.githubusercontent.com/55895538/129548065-e3cd12a1-4891-4551-8fd5-cefccf2dcc98.png)

4. Able to enter only two digits after the decimal point.
![image](https://user-images.githubusercontent.com/55895538/129550836-61f8bba8-af3e-492

[2021-08-16 10:56] sdgun opened #103 "The Rates show value 10 by default instead of 0"
Steps
Go to TAAS Admin >> Roles
Click create new role button
Click Add rate and check the default rates

By default 10 is set on all rates instead of 0

https://user-images.githubusercontent.com/4592712/128831713-52a14715-e911-4481-96ef-f8f06c5056a0.mp4

[2021-08-16 10:56] #103 closed

[2021-08-16 10:56] sdgun opened #104 "When entering symbols/non-existent skills on the skills field, the symbol/value is added to the skill list"
**Steps**

Go to TAAS Admin >> Roles
Click create new role button
Click on skills field and enter 'C#' or a non-existent skill (ex- 'abc')

You will not see C# in the skill suggestions drop down, but it is being added to the skill list. And No suggestions will be displayed until you click on some fields a few times

Note: Skills like C#, F# should be displayed in the suggestions in this case. But

[2021-08-16 10:56] #104 closed

[2021-08-16 10:56] sdgun opened #105 "UI issue in the successfully deleted message when deleting a role from Taas admin"
**Steps**
- Go to TAAS Admin >> Roles
- Delete/add/update a role
- Check the message

![image](https://user-images.githubusercontent.com/4592712/127975496-2890c529-6216-4697-921a-4960b0a7ea12.png)

![image](https://user-images.githubusercontent.com/4592712/127975909-63a69518-fa3c-4fa3-81da-ee847648d201.png)

[2021-08-16 10:56] #105 closed

[2021-08-16 10:57] sandhiyakavi opened #106 "RB's are not getting displayed"
Description:

Not able to view the RB's for the newly created project. Though the RB's are in 'placed' status

![image](https://user-images.githubusercontent.com/55895538/118590932-53b62200-b7de-11eb-93f6-ed8f48390115.png)
![image](https://user-images.githubusercontent.com/55895538/118591023-75170e00-b7de-11eb-82ba-96cd1d386cf9.png)

[2021-08-16 10:57] #106 closed

[2021-08-16 10:57] sdgun opened #108 "The error messages are not getting cleared from the role add/edit role pop ups"
**Steps**

Go to TAAS Admin >> Roles
Edit a new role and try to save by removing some mandatory value(error is displayed on top)
Cancel the pop up
Either create role or Edit role

The error message is still displayed

https://user-images.githubusercontent.com/4592712/127982214-c46ce619-a080-4641-b4ac-6d29f47b32ed.mp4

[2021-08-16 11:12] maxceem commented on #101
FireFox 91 on Windows 10 also looks fine for me:

![image](https://user-images.githubusercontent.com/146016/129554939-406b0fd4-5abc-4923-affd-b156a8e79532.png)

[2021-08-16 11:46] sdgun commented on #111
Verified in production.

<img width="1680" alt="Screenshot 2021-08-16 at 3 32 46 PM" src="https://user-images.githubusercontent.com/4592712/129558810-25ee68de-f16c-44f3-9455-70ebbc35a4f0.png">

[2021-08-16 11:46] #111 closed

[2021-08-16 11:48] lakshmiathreya commented on #111
-- Delete and Sync verified in Prod.

[2021-08-16 11:59] lakshmiathreya commented on #107
Verified entry of values in Prod for # of Members, # of Available Members, Time to candidate, Time to interview fields.

[2021-08-16 11:59] #107 closed

[2021-08-16 12:08] sdgun commented on #109
This cannot be verified in prod since all existing roles have niche rates.

[2021-08-16 12:08] #109 closed

[2021-08-16 12:14] lakshmiathreya commented on #108
Verified error message getting cleared in Role Add/Edit Popups in Prod.

[2021-08-16 12:25] maxceem commented on #90
Challenge https://www.topcoder.com/challenges/799e4c89-6b73-4390-8eef-a3308ee80b03 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-16 12:25] maxceem commented on #92
Challenge https://www.topcoder.com/challenges/5c5a5cb4-11ee-4ac1-9139-cc56b8202f03 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-16 12:25] maxceem commented on #90
Challenge https://www.topcoder.com/challenges/799e4c89-6b73-4390-8eef-a3308ee80b03 has been assigned to madopcode.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-16 12:25] maxceem commented on #92
Challenge https://www.topcoder.com/challenges/5c5a5cb4-11ee-4ac1-9139-cc56b8202f03 has been assigned to madopcode.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-16 12:26] maxceem commented on #90
Payment task has been updated: https://www.topcoder.com/challenges/799e4c89-6b73-4390-8eef-a3308ee80b03
*Payments Complete*
Winner: madopcode
Copilot: maxceem
Challenge `799e4c89-6b73-4390-8eef-a3308ee80b03` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-16 12:26] maxceem commented on #92
Payment task has been updated: https://www.topcoder.com/challenges/5c5a5cb4-11ee-4ac1-9139-cc56b8202f03
*Payments Complete*
Winner: madopcode
Copilot: maxceem
Challenge `5c5a5cb4-11ee-4ac1-9139-cc56b8202f03` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-16 12:44] lakshmiathreya commented on #110
Verified Role creation message in Prod.
<img width="1680" alt="Screenshot 2021-08-16 at 6 12 40 PM" src="https://user-images.githubusercontent.com/51733042/129565531-c816708a-d625-4d48-88b3-9507a93ca3f3.png">

[2021-08-16 12:44] #110 closed

[2021-08-17 05:52] sandhiyakavi commented on #81
Below scenarios are tested  in Dev Env.

1. Verify Update BA for payments is shown in dropdown Actions only if there is already some payment processed.
2. Verify whether modal opens for Update BA for payments
3. Verify whether the contents Work period, ResourceBooking, Job name, Team name, Current BA's used are correctly displayed.
4. Verify whether all the BA's used for the WP are displayed in Cu

[2021-08-17 07:16] maxceem commented on #82
@sandhiyakavi Issue points 2 and 3 should be fixed now.

[2021-08-17 08:11] sandhiyakavi commented on #93
Verified in Dev Env.

<img width="959" alt="Screenshot_3" src="https://user-images.githubusercontent.com/55895538/129688885-752c0dff-b93d-4914-8bf8-ffef402289a8.png">
<img width="960" alt="Screenshot_4" src="https://user-images.githubusercontent.com/55895538/129688898-600a5221-9906-45b6-957a-2468317eb6d2.png">

![image](https://user-images.githubusercontent.com/55895538/129689010-88acb918-34b7-4c0

[2021-08-17 09:03] sandhiyakavi commented on #80
Verified in Dev Env.

1. Not able to enter more than 2 numbers after the decimal points.
![image](https://user-images.githubusercontent.com/55895538/129696199-496ef7c1-a163-46eb-bea6-28de303f54b0.png)

2.  Edit payment is disabled for Failed/Cancelled status.
![image](https://user-images.githubusercontent.com/55895538/129695052-b2f6a36d-bfda-4f3d-9ca7-0f571bdb6ec3.png)
![image](https://user-images

[2021-08-17 09:38] sandhiyakavi commented on #94
Verified on Dev Env.

https://user-images.githubusercontent.com/55895538/129701589-94c85dfe-52b0-4db8-a040-25162193a97c.mp4

[2021-08-17 10:07] sandhiyakavi commented on #82
@maxceem If we do Additional payment for the WP which is in 'pending' status, it is still changing into 'partially completed' status.
![image](https://user-images.githubusercontent.com/55895538/129706788-d4ccc243-6dd7-4fc6-9da9-d8139b3693f4.png)

If 'No days' status and we process Additional payment, the status changing correctly into 'in progress' status.
![image](https://user-images.githubuserco

[2021-08-17 10:13] maxceem commented on #82
@sandhiyakavi this WP has 1 working days, but 0 working days were paid. As some payment was done (additional one), we indicate it as partially completed status.

![image](https://user-images.githubusercontent.com/146016/129707960-5fd32149-0257-4725-945f-a0549ae436f8.png)

[2021-08-17 10:14] maxceem commented on #93
Challenge https://www.topcoder.com/challenges/97209603-f9cc-4cca-be93-ec5194268921 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-17 10:14] maxceem commented on #94
Challenge https://www.topcoder.com/challenges/c44165e0-947d-4060-aa71-069f9d859d84 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-17 10:14] maxceem commented on #80
Challenge https://www.topcoder.com/challenges/fc807c9d-fb26-46e9-a735-d7b13555382e has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-17 10:14] maxceem commented on #93
Challenge https://www.topcoder.com/challenges/97209603-f9cc-4cca-be93-ec5194268921 has been assigned to madopcode.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-17 10:14] maxceem commented on #80
Challenge https://www.topcoder.com/challenges/fc807c9d-fb26-46e9-a735-d7b13555382e has been assigned to madopcode.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-17 10:14] maxceem commented on #94
Challenge https://www.topcoder.com/challenges/c44165e0-947d-4060-aa71-069f9d859d84 has been assigned to madopcode.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-17 10:14] maxceem commented on #80
Payment task has been updated: https://www.topcoder.com/challenges/fc807c9d-fb26-46e9-a735-d7b13555382e
*Payments Complete*
Winner: madopcode
Copilot: maxceem
Challenge `fc807c9d-fb26-46e9-a735-d7b13555382e` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-17 10:14] maxceem commented on #93
Payment task has been updated: https://www.topcoder.com/challenges/97209603-f9cc-4cca-be93-ec5194268921
*Payments Complete*
Winner: madopcode
Copilot: maxceem
Challenge `97209603-f9cc-4cca-be93-ec5194268921` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-17 10:14] maxceem commented on #94
Payment task has been updated: https://www.topcoder.com/challenges/c44165e0-947d-4060-aa71-069f9d859d84
*Payments Complete*
Winner: madopcode
Copilot: maxceem
Challenge `c44165e0-947d-4060-aa71-069f9d859d84` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-17 13:05] maxceem commented on #82
Challenge https://www.topcoder.com/challenges/add1a560-96ce-4330-933d-20f0b50fd46d has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-17 13:05] maxceem commented on #82
Challenge https://www.topcoder.com/challenges/add1a560-96ce-4330-933d-20f0b50fd46d has been assigned to madopcode.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-17 13:05] maxceem commented on #82
Payment task has been updated: https://www.topcoder.com/challenges/add1a560-96ce-4330-933d-20f0b50fd46d
*Payments Complete*
Winner: madopcode
Copilot: maxceem
Challenge `add1a560-96ce-4330-933d-20f0b50fd46d` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-18 07:21] sandhiyakavi commented on #95
Verified on Dev env.

![image](https://user-images.githubusercontent.com/55895538/129855030-a9a1dd01-113a-4b13-b650-65c2fa4b6d10.png)
![image](https://user-images.githubusercontent.com/55895538/129855110-09a18851-d824-4330-8d0e-7680243ba89f.png)
![image](https://user-images.githubusercontent.com/55895538/129855350-aa6af52e-54e1-4a27-b0a0-425b31d62f00.png)

[2021-08-18 07:25] maxceem commented on #95
Challenge https://www.topcoder.com/challenges/38b1552b-380b-4326-b222-7b0497b5858e has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-18 07:25] maxceem commented on #95
Challenge https://www.topcoder.com/challenges/38b1552b-380b-4326-b222-7b0497b5858e has been assigned to madopcode.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-18 07:25] maxceem commented on #95
Payment task has been updated: https://www.topcoder.com/challenges/38b1552b-380b-4326-b222-7b0497b5858e
*Payments Complete*
Winner: madopcode
Copilot: maxceem
Challenge `38b1552b-380b-4326-b222-7b0497b5858e` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-18 07:28] maxceem commented on #77
This was already implemented and pushed to dev and prod. Closing this as this is trivial, see screenshot

![image](https://user-images.githubusercontent.com/146016/129856239-23f2314e-2e81-45d1-be47-e56f1de2a299.png)

[2021-08-18 07:28] #77 closed

[2021-08-20 08:06] sandhiyakavi opened #112 "[$15] Process payment button is not enabled for select all records if all the resources checkbox is disabled in current page."
Description:
Process payment button is not enabled for select all records if all the resources checkbox is disabled in current page. Even though the resources checkbox in other pages are enabled.

![image](https://user-images.githubusercontent.com/55895538/130201161-bc7cc696-a189-4262-87bc-1dffde64cf8d.png)

https://user-images.githubusercontent.com/55895538/130201374-0e93d538-0d51-4b9a-af2f-fc0e5

[2021-08-20 08:16] maxceem commented on #112
Sum up:
- when se select all records on all the pages as shown on the video above, the `Process Payments` button should get enabled. Because even if the current page doesn't have good Resource Bookings to pay for, other pages might have some.

@MadOPcode feel free to pick this up.

[2021-08-20 09:38] maxceem commented on #112
Challenge https://www.topcoder.com/challenges/aaeb9579-2cdf-41f5-9381-555ac143528c has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-20 09:38] maxceem commented on #112
Challenge https://www.topcoder.com/challenges/aaeb9579-2cdf-41f5-9381-555ac143528c has been assigned to madopcode.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-20 09:38] maxceem commented on #112
@sandhiyakavi fixed and ready for QA on DEV.

[2021-08-20 10:16] sandhiyakavi commented on #112
Verified in Dev Env. Process payment is getting enabled now.

![image](https://user-images.githubusercontent.com/55895538/130218802-114e6961-5c7e-4d82-89d9-10a8c67e5d69.png)

[2021-08-20 10:22] maxceem commented on #112
Payment task has been updated: https://www.topcoder.com/challenges/aaeb9579-2cdf-41f5-9381-555ac143528c
*Payments Complete*
Winner: madopcode
Copilot: maxceem
Challenge `aaeb9579-2cdf-41f5-9381-555ac143528c` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-08-20 10:24] sandhiyakavi commented on #95
Verified on Prod Env. Working as expected.

cc: @nkumar-topcoder

[2021-08-20 10:24] #95 closed

[2021-08-20 10:24] sandhiyakavi commented on #82
Verified on Prod Env. Working as expected.

cc: @nkumar-topcoder

[2021-08-20 10:24] #82 closed

[2021-08-20 10:25] sandhiyakavi commented on #94
Verified on Prod Env. Working as expected.

cc: @nkumar-topcoder

[2021-08-20 10:25] #94 closed

[2021-08-20 10:27] sandhiyakavi commented on #93
Difficult to test on Prod Env since it's an edge case.

[2021-08-20 10:27] #93 closed

[2021-08-20 10:28] sandhiyakavi commented on #80
Verified on Prod Env. Working as expected.

cc: @nkumar-topcoder

[2021-08-20 10:28] #80 closed

[2021-08-20 10:29] sandhiyakavi commented on #92
Verified on Prod Env. Working as expected.

cc: @nkumar-topcoder

[2021-08-20 10:29] #92 closed

[2021-08-20 10:29] sandhiyakavi commented on #90
Verified on Prod Env. Working as expected.

cc: @nkumar-topcoder

[2021-08-20 10:29] #90 closed

[2021-08-20 10:30] sandhiyakavi commented on #79
Verified on Prod Env. Working as expected.

cc: @nkumar-topcoder

[2021-08-20 10:30] #79 closed

[2021-08-20 10:30] sandhiyakavi commented on #81
Verified on Prod Env. Working as expected.

cc: @nkumar-topcoder

[2021-08-20 10:30] #81 closed

[2021-09-03 04:27] sdgun opened #114 "Shows Network Error when updating and deleting some existing roles"
**Steps**
Go to https://platform.topcoder-dev.com/taas-admin/roles
Edit or delete an existing role

Shows Network Error when updating and deleting some existing roles but the role is actually getting updated/deleted
Also noticed the page title is getting changed to topcoder.com

![image](https://user-images.githubusercontent.com/4592712/131950735-8cf4da2f-f0e5-4589-887b-2a216673b01e.png)

Note: Th

[2021-09-03 04:35] sdgun opened #115 "Create new role button UI issue"
**Steps**
Go to https://platform.topcoder-dev.com/taas-admin/roles
Check the Create new role button

This used to be displayed properly in the previous build but now it shows as below

![image](https://user-images.githubusercontent.com/4592712/131951048-f7075bcc-96c0-4290-9e5f-67127137aa08.png)

[2021-09-03 04:41] sdgun commented on #115
Looks like a browser cache issue

[2021-09-03 04:41] #115 closed

[2021-09-03 05:50] sdgun commented on #114
Verified, didn't observe the network error.

https://user-images.githubusercontent.com/4592712/131956676-553cba15-29b9-4308-9d10-9d42df752e70.mp4

[2021-09-03 05:50] #114 closed